<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/header.css" />
        <script src="../public/js/header.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <div><a href="/" class="logo-click">궁석궁석</a></div>
            </div>
            <div class="nav">
                <div><a href="/">홈</a></div>
                <div><a href="/theme">테마별 추천</a></div>
                <div><a href="/map">지역별 추천</a></div>
                <div><a href="/random">랜덤추천</a></div>
                <div><a href="/community">커뮤니티</a></div>
            </div>
            <div class="user">
                <div><button type="button" id="login" onclick="loginout()">로그인</button></div>
                <div><a href="/user/signup" class="signup">회원가입</a></div>
            </div>
        </header>
    </body>
</html>
