main {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 0;
}
div > ul {
    padding: 0 10px 0 90px;
}

dl {
    width: 300px;
    height: 300px;
}
dt {
    width: 100%;
    height: 90%;
}
img {
    width: 100%;
    height: 100%;
}
dd {
    text-align: center;
}
li {
    float: left;
    list-style: none;
    padding-right: 5px;
}
