<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../public/css/community_detail.css" />
        <link rel="icon" href="../../public/img/icon/logo-10px.png" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <%-include('../../views/header')%>
        <main>
            <div class="title-box">
                <div class="title"></div>
            </div>
            <div class="content-box">
                <div class="img-box">
                    <img src="" alt="사진" class="content-img" />
                </div>
                <div class="content"></div>
            </div>
        </main>
    </body>
    <script src="../../public/js/community_detail.js"></script>
</html>
