<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../public/css/community.css" />
        <link rel="icon" href="../../public/img/icon/logo-10px.png" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <%- include('../header')%>
        <main>
            <div>
                <ul></ul>
            </div>
        </main>
        <script src="../../public/js/community.js"></script>
    </body>
</html>
